<link rel="stylesheet" href="./pages/notifs.css">
<!-- Notifications App -->
<v-app id="FIVEZ_Notifs" v-show="ShowMenu">
    <v-main>
        <v-flex style="max-width: 100%;max-height:100%" xs4 v-for="(element, elementIndex) in anouncements" :key="elementIndex">
            <br/>
            <div id="FIVEZ_Notifs_Anouncements" style="max-width:50%;color:white;background-color:darkblue;border-color:black;border-style:solid;font-family:Arial, Helvetica, sans-serif;font-weight:900;font-size:18px;">{{anouncements[elementIndex]}}</div>
        </v-flex>

        <v-flex style="max-width:100%;max-height:100%" xs4 v-for="(element, elementIndex) in notifications" :key="elementIndex">
            <br/>
            <div id="FIVEZ_Notifs_Notifications" style="max-width:25%;color:white;background-color:grey;border-color:black;border-style:solid;font-family:Arial, Helvetica, sans-serif;font-weight:900;font-size:18px;">{{notifications[elementIndex]}}</div>
        </v-flex>
    </v-main>
</v-app>
